.content {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    flex-basis: 345px;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: center;
}
.content .items {
    background-color: var(--content-background);
    width: 345px;
    height: 330px;
    text-align: center;
    border-radius: 5px;
}
.content .items img {
    padding-top: 20px;
    max-height: 125px;
}
.content .items a {
    text-decoration: none;
    color: var(--content-text);
}
.content .items p {
    color: var(--content-text);
    word-break: break-all;
    font-size: 20px;
    line-height: 1.5;
    padding: 10px 20px 5px 20px;
}
.content .items h3 {
    color: var(--content-title);
    word-break: break-all;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    padding: 20px 20px 5px 20px;
}