section {
    margin: 20px auto 10px;
    background-color: var(--guide-background);
    border-radius: 5px;
    max-width: 80%;
    padding: 35px 75px 15px;
}
#index img, #slots img, #custom_name img, #statistics img, #perks img, #menus img, #sell img, #npc img {
    margin-top: 15px;
    float: right;
    clear: both;
    width: 500px;
}
#index ul {
    margin-top: 50px;
    margin-left: 30px;
    background-color: var(--guide-index-backgroud);
    border: 3px solid var(--guide-index-border);
    padding: 10px 0 0 10px;
    width: 150px;
    font-size: 14px;
    list-style: none
}
#index li {
    margin-bottom: 5px;
}
#index li a {
    text-decoration: none;
    color: var(--guide-index-text);
}
#index li a:hover {
    color: var(--guide-index-text-hover);
    text-decoration: underline;
}

section h3, section h4 {
    color: var(--guide-title);
    background: none;
    font-weight: normal;
    margin: 0;
    padding-top: .5em;
    padding-bottom: .17em;
    border-bottom: 1px solid #aaa;
    clear: both;
    font-size: 1.5rem;
}

#commands > ul, #permissions > ul, #statistics > ul, #perks > ul {
    margin: 15px 0 0 50px;
}
#permissions ul > ul {
    margin: 5px 0 5px 35px;
}
#statistics li, #perks li, #commands li, #permissions li {
    color: var(--guide-text);
}
#commands li code, #permissions li code {
    margin-right: 0;
}
#commands li i, #perks li i, #permissions li i {
    display: unset;
    margin: 0;
    padding: 0;
}
info {
    color: var(--guide-info);
    font-weight: bold;
}

section h2 {
    color: var(--guide-title);
    font: normal normal normal 28px/35px "title",cursive;
    padding: 25px 35px 25px 15px;
    text-align: left;
}

section p {
    color: var(--guide-text);
    padding: 15px 15px;
    font-family: "desc";
    word-break: break-word;
    vertical-align: baseline;
    text-overflow: ellipsis;
    overflow: hidden;
}

section a {
    color: var(--guide-link);
}

section i, desc {
    font-family: "desc italic";
    color: var(--guide-description);
    display: grid;
    padding: 0 15px;
    margin: 15px 0;
}

section p i {
    padding: 0;
    margin: 0;
    display: inline;
}

#date {
    float: right;
    font-style: italic;
    font-family: "desc";
}

desc {
    border-left: solid var(--guide-description-border) 2px;
    margin: 15px 15px;
    font-size: 25px;
    padding: 10px 15px;
}

.cmd {
    background-color: var(--guide-code-background);
    border: 1px solid var(--guide-code-border);
    color: var(--guide-code-text);
    display: inline-flex;
    padding: 2px 2.5px;
    margin-top: 2px;
    margin-left: 0px;
}

code {
    background-color: var(--guide-code-background);
    color: var(--guide-code-text);
    border: 1px solid var(--guide-code-border);
    display: block;
    padding: 10px;
    margin: 15px;
}

section code i {
    color: black;
    font: inherit;
    font-style: italic;
}

.spoiler {
    background-color: var(--guide-spoiler);
    color: var(--guide-text);
    border: none;
    border-radius: 6px;
    box-shadow: 0 3px var(--guide-spoiler-shadow);
    padding: 4px;
    margin-bottom: 10px;
    margin: 15px 15px 0;
}

@media all and (max-width: 900px){

    section {
        display: block;
        margin: 20px 0 5px;
        border-left: none;
        border-right: none;
        padding: 0 5px 15px;
        max-width: 100%;
    }

    #index img, #slots img, #custom_name img, #statistics img, #perks img, #menus img, #sell img, #npc img {
        float: none;
        max-width: 100%;
    }
}