:root {
    --content-background-color: var(--guide-background);
    --content-background-ratio: 6px;
    z-index: 1;
}

section {
    margin: 20px auto 10px;
    border-radius: 5px;
    max-width: 80%;
    padding: 35px 75px 15px;

    display: grid;
    grid-template-areas: "index index index"
                         "commandss permissions slots"
                         "custom_name statistics perks"
                         "chester_type none languages";
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 15px;
}

#index {grid-area: index;}

#commands .card {grid-area: commands;}

#permissions {grid-area: permissions;}

#slots {grid-area: slots;}

#custom_name {grid-area: custom_name;}

#statistics {grid-area: statistics;}

#perks {grid-area: perks;}

#chester_type {grid-area: chester_type;}

#languages {grid-area: languages;}

.card {
    background-color: var(--content-background-color);
    border-radius: var(--content-background-ratio);
}

.card > .title, .card > .img{
    padding: 15px 15px 10px;
}

.card > .title h3, .card > .title h4 {
    text-align: center;
}

.card > .text {
    padding: 5px 25px 10px;
}

.card .img img {
    top: 15px;
    width: 100%;
    display: none;
    visibility: hidden;
}

.card h2 {
    color: var(--guide-title);
    font: normal normal normal 28px/35px "title",cursive;
    padding: 25px 35px 25px 15px;
    text-align: left;
}

.card h3, .card h4 {
    color: var(--guide-title);
    background: none;
    font-weight: normal;
    margin: 0;
    padding-top: .5em;
    padding-bottom: .17em;
    border-bottom: 1px solid #aaa;
    clear: both;
    font-size: 1.5rem;
}

.card .text > ul {
    margin: 5px 0 0 15px;
}
.card ul > ul {
    margin: 5px 0 5px 35px;
}
.card li {
    color: var(--guide-text);
}
.card li code {
    margin-right: 0;
}
.card li i {
    display: unset;
    margin: 0;
    padding: 0;
}
info {
    color: var(--guide-info);
    font-weight: bold;
}

.card p {
    color: var(--guide-text);
    padding: 15px 15px;
    font-family: "desc";
    word-break: break-word;
    vertical-align: baseline;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card a {
    color: var(--guide-link);
}

.card i, desc {
    font-family: "desc italic";
    color: var(--guide-description);
    display: grid;
    padding: 0 15px;
    margin: 15px 0;
}

.card p i {
    padding: 0;
    margin: 0;
    display: inline;
}

desc {
    border-left: solid var(--guide-description-border) 2px;
    margin: 15px 15px;
    font-size: 25px;
    padding: 10px 15px;
}

.card .cmd {
    background-color: var(--guide-code-background);
    border: 1px solid var(--guide-code-border);
    color: var(--guide-code-text);
    display: inline-flex;
    padding: 2px 2.5px;
    margin-top: 2px;
    margin-left: 0px;
}

.text > pre code {
    background-color: var(--guide-code-background);
    border: 1px solid var(--guide-code-border);
    display: block;
    padding: 10px;
    margin: 15px;
}

code i {
    color: black;
    font: inherit;
    font-style: italic;
}

.spoiler {
    background-color: var(--guide-spoiler);
    color: var(--guide-text);
    border: none;
    border-radius: 6px;
    box-shadow: 0 3px var(--guide-spoiler-shadow);
    padding: 4px;
    margin-bottom: 10px;
    margin: 15px 15px 0;
}

.all {
    display: block;
    position: fixed;
    width: 900px;
    height: 80vh;
    top: 10%;
    left: 50%;
    margin-left: -450px;
    background-clip: padding-box;
    background-color: var(--content-background-color);
    border-radius: var(--content-background-ratio);
    z-index: 3;
    color: white;
}

.all .cont {
    padding: 15px 25px 10px;
}

.background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.4;
    z-index: 2;
}

@media all and (max-width: 900px){

    section {
        display: block;
        margin: 20px 0 5px;
        border-left: none;
        border-right: none;
        padding: 0 5px 15px;
        max-width: 100%;
    }

    .card img {
        float: none;
        max-width: 100%;
    }

    .card {
        padding: none;
    }
}