:root {
    /*  NAVBAR  */
    --background-color: #0d1117;
    --navbar: #161b22;

    --botton: #21262d;
    --botton-select: #102233;

    --text: #f0f6fc;
    --text-hover: #f0f6fcb3;
    --logo: #CADAEB;

    /*  TITLE   */
    --title: #c9d1d9;
    --title-font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    --title-description: #8b949e;

    --contact: #e4870f;
    --contact-hover: #b87012;
    
    /*  CONTENT */
    --content-background: var(--navbar);
    --content-title: var(--title);
    --content-text: var(--title-description);

    /*  GUIDE   */
    --guide-background: var(--navbar);

    /*  INDEX   */
    --guide-index-backgroud: #ecf0f3;
    --guide-index-border: #CADAEB;
    --guide-index-text: black;
    --guide-index-text-hover: #1c67c9;

    /*  MISC    */
    --guide-title: #f3f3f3;
    --guide-text: white;
    --guide-description: #c9c9c9;
    --guide-description-border: #0180ca;
    --guide-link: #00ce56;
    --guide-info: red;
    
    /*  CODE    */
    --guide-code-background: #ecf0f3;
    --guide-code-border: #999;
    --guide-code-text: black;

    /*  SPOILER */
    --guide-spoiler: var(--botton);
    --guide-spoiler-shadow: #033C54;
}
body {
    background-color: var(--background-color);
}
::-webkit-scrollbar {
    display: none;
}