:root {
    /*  NAVBAR  */
    --background-color: #000a12;
    --navbar: #263238;

    --botton: #263238;
    --botton-select: #4f5b62;

    --text: #ffffff;
    --text-hover: #0093c4;
    --logo: #0093c4;

    /*  TITLE   */
    --title: #c9d1d9;
    --title-font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    --title-description: #8b949e;

    --contact: #e4870f;
    --contact-hover: #b87012;
    
    /*  CONTENT */
    --content-background: var(--navbar);
    --content-title: var(--title);
    --content-text: var(--title-description);

    /*  GUIDE   */
    --guide-background: var(--navbar);

    /*  MISC    */
    --guide-title: #f3f3f3;
    --guide-text: white;
    --guide-description: #c9c9c9;
    --guide-description-border: #0180ca;
    --guide-link: #00ce56;
    --guide-link-hover: #056d31;;
    --guide-info: red;
    
    /*  CODE    */
    --guide-code-background: #ecf0f3;
    --guide-code-border: #999;
    --guide-code-text: black;

    /*  SPOILER */
    --guide-spoiler: var(--botton);
    --guide-spoiler-shadow: #033C54;
}
body {
    background-color: var(--background-color);
}
::-webkit-scrollbar {
    display: none;
}