:root {
    --card-background-color: var(--guide-background);
    --card-background-ratio: 6px;
}

.cards {
    margin: 20px auto 10px;
    border-radius: 5px;
    max-width: 80%;
    padding: 35px 75px 15px;

    display: flex;
    flex-direction: row;
    flex-basis: 21.56rem;
    flex-flow: row wrap;
    gap: 1.25rem 1rem;
    justify-content: center;
}

.card {
    background-color: var(--card-background-color);
    border-radius: var(--card-background-ratio);

    color: var(--content-text);
    text-align: center;
    text-decoration: none;

    width: 13rem;
    height: 15.5rem;
}

.config {
    background-image: url("https://theme.zdassets.com/theme_assets/678183/3da6524afd9979b44c5f6ceaf19e812c204ad74e.svg");
    background-repeat: no-repeat;
    background-size: 106px;
    background-position: center 14px;
}

.chest {
    background-image: url("../../img/icons/chest.svg");
    background-repeat: no-repeat;
    background-size: 106px;
    background-position: center 14px;
}

.papyrus {
    background-image: url("../../img/icons/papyrus.svg");
    background-repeat: no-repeat;
    background-size: 106px;
    background-position: center 14px;
}

.command {
    background-image: url("../../img/icons/command.svg");
    background-repeat: no-repeat;
    background-size: 106px;
    background-position: center 14px;
}

.custom_name {
    background-image: url("../../img/icons/custom_name.svg");
    background-repeat: no-repeat;
    background-size: 106px;
    background-position: center 14px;
}

.permission {
    background-image: url("../../img/icons/permission.svg");
    background-repeat: no-repeat;
    background-size: 106px;
    background-position: center 14px;
}

.statistic {
    background-image: url("../../img/icons/statistic.svg");
    background-repeat: no-repeat;
    background-size: 106px;
    background-position: center 14px;
}

.inventory {
    background-image: url("../../img/icons/inventory.svg");
    background-repeat: no-repeat;
    background-size: 106px;
    background-position: center 14px;
}

.perk {
    background-image: url("../../img/icons/perk.svg");
    background-repeat: no-repeat;
    background-size: 106px;
    background-position: center 14px;
}

.blacklist {
    background-image: url("../../img/icons/blacklist.svg");
    background-repeat: no-repeat;
    background-size: 106px;
    background-position: center 14px;
}

.categories {
    background-image: url("../../img/icons/categories.svg");
    background-repeat: no-repeat;
    background-size: 106px;
    background-position: center 14px;
}

.filter {
    background-image: url("../../img/icons/filter.svg");
    background-repeat: no-repeat;
    background-size: 106px;
    background-position: center 14px;
}

.menus {
    background-image: url("../../img/icons/menu.svg");
    background-repeat: no-repeat;
    background-size: 106px;
    background-position: center 14px;
}

.npc {
    background-image: url("../../img/icons/npc.svg");
    background-repeat: no-repeat;
    background-size: 106px;
    background-position: center 14px;
}

.sell {
    background-image: url("../../img/icons/sell.svg");
    background-repeat: no-repeat;
    background-size: 106px;
    background-position: center 14px;
}

.card > .title {
    color: var(--content-title);
    padding-top: 7.25rem;
    word-break: break-word;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px;
}

.card > .text {
    color: var(--content-text);
    word-break: break-word;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    padding: .625rem 1.25rem .312rem 1.25rem;
}
.card:hover {
    margin-top: -.625rem;
    background-color: var(--botton-select);
    transition-duration: .3s;
}